body, html{
    font-family: 'Open Sans', 'HelveticaNeue', 'HelveticaNeueu', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #222;
    background-image: url(img/orig/6791340103_7b1598e5c9_b.jpg);
    background-repeat: repeat-x;
    background-attachment: fixed;
}
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {color: #3396CF;}

#top-line {
    height: 5px;
    background-color: black;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;

}
#top-line .wrap{
    text-align: right;
    margin-top: 4px;
}
#top-line .wrap a{
    color: #555;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
}
.container{
    background: white;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    padding: 0 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}
header#primary{
    margin: 5px auto 15px auto;
    overflow: auto;
}
header#primary .logo{
    margin: 20px 0;
    float: left;
}
.logo{
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'PT sans';
    font-weight: 700;
}
header#primary nav{
    float: right;
}
header#primary nav ul{
}
header#primary nav ul li{
    display: block;
    float: left;
    text-align: left;
}
header#primary nav ul li h2{
    padding: 0 8px 0 10px;
    font-weight: normal;
    letter-spacing: -0.035em;
    font-size: 20px;
    font-weight: 700;
}
header#primary nav ul li h2 a{
    color: #222;
    text-decoration: none;
}
header#primary nav ul li h2 a:hover{
    color: #007CC3;
}
header#primary nav ul li h2 a span{
    display: block;
    float: none;
    font-weight: 400;
    text-transform: none;
    line-height: 26px;
    margin: 0px;
    letter-spacing: -0.035em;
    font-size: 12px;
}


.row1{
    overflow: auto;
}
.row1 .title{
    float: left;
}
.title h1{
    margin: 0;
}
#search{
    float: right;
    /*margin-top: 14px;*/
}
#search input, .search{
    float: left;
    width: 155px;
    margin: 0;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    border-right: 0;
    background-color: white;
    border: 1px solid #CFCFCF;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -ms-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;

    display: inline-block;
    height: 20px;
    padding: 4px 10px 4px 5px;
    font-size: 13px;
    line-height: 18px;
    color: #555;
}
#search input:focus{
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted 9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075),0 0 8px rgba(82, 168, 236, .6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075),0 0 8px rgba(82, 168, 236, .6);
}
#search button, .select-category header button{
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    height: 30px;
    border-color: #0073B5;
    background-color: #007CC3;
    background-image: linear-gradient(bottom,#007CC3 0,#0097E3 100%);
    background-image: -o-linear-gradient(bottom,#007CC3 0,#0097E3 100);
    background-image: -moz-linear-gradient(bottom,#007CC3 0,#0097E3 100%);
    background-image: -webkit-linear-gradient(bottom,#007CC3 0,#0097E3 100%);
    background-image: -ms-linear-gradient(bottom,#007CC3 0,#0097E3 100%);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#007CC3),color-stop(1,#0097E3));
    -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, .05),0 1px 2px rgba(0, 0, 0, .05),inset 0 0 1px 1px rgba(255, 255, 255, .2),inset 0 1px 0 rgba(255, 255, 255, .25);
    -moz-box-shadow: inset 0 2px 2px rgba(0,0,0,.05),0 1px 2px rgba(0,0,0,.05),inset 0 0 1px 1px rgba(255,255,255,.2),inset 0 1px 0 rgba(255,255,255,.25);
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, .05),0 1px 2px rgba(0, 0, 0, .05),inset 0 0 1px 1px rgba(255, 255, 255, .2),inset 0 1px 0 rgba(255, 255, 255, .25);

    border-width: 1px;
    border-style: solid;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, .25);
    margin: 0;
    margin-left: -1px;
}
#search button img, .select-category header button img{
    padding: 0 5px;
}
.row2{
    margin-top: 35px;
    overflow: auto;
}
.row2 h3{
    color: #555;
    font-size: 24px;
    line-height: 1.4;
    margin: 0 0 8px;
    font-weight: 400;
}
.special{
    background-color: #EFEFEF;
    padding: 30px 0;
    margin: 30px 0;
}
.row3{
    margin: 30px 0;
}
.row3 h2{
    margin: 0;
    color: #555;
    font-size: 28px;
    line-height: 1.4;
}
.row3 h5{
    color: #555;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    margin: 0;
}
.row3 p{
    font-weight: 300;
}
footer.primary{
    text-align: center;
    border-top: 1px solid gainsboro;
    margin-top: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    clear: both;
    font-size: 10px;
    color: #555;
}
.row4{
    overflow: auto;
    margin-top: 40px;
}
.row4 .map{
    width: 580px;
    height: 310px;
    float: left;
}
#map_canvas{
    width: 580px;
    height: 310px;
}
.row4 .contacts{float: right;width: 375px;}
.row4 .contacts h4{
    color: #555;
    font-size: 20px;
    line-height: 1.4;
    margin: 0 0 8px;
    font-weight: 400;

}
.row4 .contacts h5{
    color: #555;
    font-size: 16px;
    line-height: 1.4;
    margin: 0 0 8px;
    font-weight: 400;
}
.row4 .contacts p{
    line-height: 20px;
    font-weight: 300;
}
hr {
    border: 0;
    color: #DDD;
    background-color: #DDD;
    height: 1px;
}
.row5{overflow: auto;}
.row5 .item{
    float: left;
    margin-left: 20px;
    width: 260px;
    margin-bottom: 25px;
    margin-right: 33px;
}
.row5 .item h4{
    font-size: 20px;
}
.row5 .item h4 a{
    text-decoration: none;
}
.row5 .item .thumbnail{
    height: 220px;
    display: block;
}
.row5 .item .details{
    padding: 10px;
    background-image: linear-gradient(bottom,#F0F0F0 0,white 100%);
    background-image: -o-linear-gradient(bottom,#F0F0F0 0,white 100%);
    background-image: -moz-linear-gradient(bottom,#F0F0F0 0,white 100%);
    background-image: -webkit-linear-gradient(bottom,#F0F0F0 0,white 100%);
    background-image: -ms-linear-gradient(bottom,#F0F0F0 0,white 100%);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#F0F0F0),color-stop(1,white));
}
.row5 .item .details .title{
    font-size: 14px;
}
.row5 .item .details .price{
    font-weight: 300;
}
.row5 .item .product{
    border: 1px solid #CFCFCF;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
}
.select-category{
    margin: 35px 0;
}
.select-category header{
    background-color: #EFEFEF;
    border: solid 1px #D1D1D1;
    -webkit-border-top-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}
.select-category header .search{
    margin-top: 4px;
}
.select-category header button{}
.select-category header h2{
    margin: 6px 0 9px 8px;
    color: #555;
    font-size: 24px;
    line-height: 1.4;
    font-weight: 400;
}
.select-category .section-body{
    border-radius: 4px;
    border: solid 1px #D1D1D1;
    padding: 10px 8px;
    overflow: auto;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.select-category .section-body .desc{
    font-weight: 300;
    font-size: 14px;
}
.select-category .section-body .category{}
.select-category .section-body .category .item{
    display: block;
    float: left;
    width: 100px;
    cursor: pointer;
    text-align: center;
    padding: 0 5px;
    margin: 0 4px 10px 0;
}
.select-category .section-body .category .item .thumbnail{
    width: 80px;
    height: 20px;
}
.select-category .section-body .category .item .title{
    font-size: 13px;
}

.row1 .breadcrumb{
    margin-top: 8px;
}
.row1 .breadcrumb a{
    color: #007CC3;
    text-decoration: none;
    font-size: 13px;

}
